{% extends "base.html" %}

{% block title %}{{ page.title }} — RDMSR{% endblock title %}

{% block content %}

<article>
    <header class="article-header">
        <div class="article-header-bar">
            <span>Writing</span>
            <time datetime="{{ page.date }}">{{ page.date }}</time>
        </div>
        <div class="article-header-content">
            <h1 class="article-title">{{ page.title }}</h1>
            {% if page.description %}
            <p class="article-subtitle">{{ page.description }}</p>
            {% endif %}
        </div>
    </header>

    <div class="article-body">
        {{ page.content | safe }}
    </div>

    <div class="article-copyright">
        © {{ page.date | date(format="%Y") }} RDMSR —
        <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
    </div>

</article>

{% endblock content %}
