<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RDMSR{% endblock title %}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/giallo.css">
</head>

<body>
    <div class="wrapper">
        <nav>
            <a href="/">Home</a>
            <a href="/writing/">Writing</a>
        </nav>

        <main>
            {% block header %}{% endblock header %}

            {% block content %}{% endblock content %}
        </main>
    </div>
</body>

</html>
