{% extends "base.html" %}

{% block header %}
<h2>About</h2>

<table>
    <thead>
        <tr>
            <th colspan="2">Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>Loïc Grégoire</td>
        </tr>
        <tr>
            <td>Occupation</td>
            <td>1st year Computer Engineering Student</td>
        </tr>
        <tr>
            <td>Github</td>
            <td><a href="https://github.com/rdmsr">rdmsr</a></td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td><a href="mailto:loic@gregoire.dev">loic@gregoire.dev (soon)</a></td>
        </tr>
    </tbody>
</table>
{% endblock header %}

{% block content %}

<h2>Writing</h2>

{% set writing = get_section(path="writing/_index.md") %}
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th class="col-link">Link</th>
        </tr>
    </thead>
    <tbody>
        {% for post in writing.pages %}
        <tr>
            <td>{{ post.date }}</td>
            <td><a href="{{ post.permalink }}">{{ post.title }}</a></td>
            <td class="col-link"><a href="{{ post.permalink }}" class="link">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Projects</h2>

<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
            <th class="col-link">Link</th>
        </tr>
    </thead>
    <tbody>
        {% for project in config.extra.projects %}
        <tr>
            <td>{{ project.meta | safe }}</td>
            <td><a href="{{ project.url }}">{{ project.title }}</a></td>
            <td>{{ project.description }}</td>
            <td class="col-link"><a href="{{ project.url }}" class="link">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}